.fullDialogList {
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.address {
  padding: 10px;
}
.alignCenter {
  text-align: right;
}
.section-title-bold {
  font-size: 30px;
  font-weight: bold;
}
.total-miscellaneous {
  font-size: 20px;
  padding-top: 10px;
}
.cardComponentHeader {
  padding: 10px;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}
#table-containerMatProj {
  width: 50%;
  margin: 0 auto;
}
.text-right {
  float: right;
}
.form-and-material-container {
  height: 100%;
  overflow: scroll;
}

#fullView {
  color: rgb(73, 141, 75);
  background-color: rgba(201, 115, 115, 0);
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#fullView:hover {
  color: rgb(78, 78, 78);
  background-color: rgba(177, 209, 179, 0.74);
}

@media only screen and (max-width: 800px) {
  .fullDialogList {
    width: 100%;
    margin: 0 auto;
  }
  .form-container {
    width: 100%;
    margin: 0 auto;
  }
  #table-containerMatProj {
    width: 100%;
    margin: 0 auto;
  }
}

#AddButtonMatToProjt {
  text-align: right !important;
  margin: 10px 0 10px 0;
}

#form-containerMatProj {
  background-color: #fbfafa;
  padding: 12px 20px 10px 20px;
  border-radius: 5px;
}

#table-containerMatProj {
  background-color: #fbfafa;
  padding: 12px 20px 10px 20px;
  border-radius: 5px;
  padding-bottom: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.textR {
  text-align: right !important;
}

#closeButtonMatProjt {
  margin-top: 5px;
  margin-right: 25px;
}
