
.about-us-container-title{
   padding: 60px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: bold;
   font-size: 50px;
}




.reviewsButton{
   padding: 10px;
}
